<?xml version="1.0"?>
<config>
    <modules>
        <YSRTech_Followup>
            <version>2.9.0.0</version>
        </YSRTech_Followup>
    </modules>
    <frontend>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <update_subscriber_auto>
                        <class>followup/observer</class>
                        <method>addToAutoList</method>
                    </update_subscriber_auto>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <routers>
            <followup>
                <use>standard</use>
                <args>
                    <module>YSRTech_Followup</module>
                    <frontName>track</frontName>
                </args>
            </followup>
        </routers>
        <layout>
            <updates>
                <followup>
                    <file>fidelitas.xml</file>
                </followup>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <followup before="Mage_Adminhtml">YSRTech_Followup_Adminhtml</followup>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <followup_autoresponders_status>
                        <class>followup/autoresponders</class>
                        <method>changeStatus</method>
                    </followup_autoresponders_status>
                </observers>
            </sales_order_save_commit_after>
            <sales_order_shipment_save_commit_after>
                <observers>
                    <followup_autoresponders_shipment>
                        <class>followup/autoresponders</class>
                        <method>newOrderDocument</method>
                    </followup_autoresponders_shipment>
                </observers>
            </sales_order_shipment_save_commit_after>
            <sales_order_invoice_save_commit_after>
                <observers>
                    <followup_autoresponders_invoice>
                        <class>followup/autoresponders</class>
                        <method>newOrderDocument</method>
                    </followup_autoresponders_invoice>
                </observers>
            </sales_order_invoice_save_commit_after>
            <sales_order_creditmemo_save_commit_after>
                <observers>
                    <followup_autoresponders_creditmemo>
                        <class>followup/autoresponders</class>
                        <method>newOrderDocument</method>
                    </followup_autoresponders_creditmemo>
                </observers>
            </sales_order_creditmemo_save_commit_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <followup>
                                            <title>Follow-up Emails Section</title>
                                        </followup>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <followup>
                    <file>fidelitas.xml</file>
                </followup>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <sales_order_place_after>
                <observers>
                    <followup_update_autoresponders>
                        <class>followup/autoresponders</class>
                        <method>newOrder</method>
                    </followup_update_autoresponders>
                </observers>
            </sales_order_place_after>
        </events>
        <models>
            <followup>
                <class>YSRTech_Followup_Model</class>
                <resourceModel>followup_mysql4</resourceModel>
            </followup>
            <followup_mysql4>
                <class>YSRTech_Followup_Model_Mysql4</class>
                <entities>
                    <autoresponders>
                        <table>followup_autoresponders</table>
                    </autoresponders>
                    <events>
                        <table>followup_autoresponders_events</table>
                    </events>
                </entities>
            </followup_mysql4>
        </models>
        <resources>
            <followup_setup>
                <setup>
                    <module>YSRTech_Followup</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <entities>
                    <autoresponders>
                        <table>followup_autoresponders</table>
                    </autoresponders>
                    <events>
                        <table>followup_autoresponders_events</table>
                    </events>
                    <subscribers>
                        <table>followup_subscribers</table>
                    </subscribers>
                    <lists>
                        <table>followup_lists</table>
                    </lists>
                    <account>
                        <table>followup_account</table>
                    </account>
                    <extra>
                        <table>followup_extra</table>
                    </extra>
                </entities>
            </followup_setup>
            <followup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </followup_write>
            <followup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </followup_read>
        </resources>
        <blocks>
            <followup>
                <class>YSRTech_Followup_Block</class>
            </followup>
        </blocks>
        <helpers>
            <followup>
                <class>YSRTech_Followup_Helper</class>
            </followup>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <followup_send_autoresponders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>followup/autoresponders::send</model>
                </run>
            </followup_send_autoresponders>
            <followup_abandoned_carts>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>followup/autoresponders::processAbandonedCarts</model>
                </run>
            </followup_abandoned_carts>
        </jobs>
    </crontab>
    <default>
        <followup>
            <config>
                <auto>0</auto>
                <intercept_emails>0</intercept_emails>
                <intercept_email_address></intercept_email_address>
                <enable_tracking>1</enable_tracking>
            </config>
        </followup>
    </default>
</config>
